body {
  background-color: #3056ad;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}
.navbar {
  display: flex;
  justify-content:space-between;
  background-color: #1e1e1e;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.nav-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;

}
.nav-right {
    gap: 10;
}
.nav-btn {
  background: none;
  border: none;
  color: #bbb;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 19;
}

.nav-btn i {
  margin-right: 8px;
}

.nav-btn:hover {
  color: #fff;
}

.nav-btn.active {
  color: #00bfff;
  border-bottom: 2px solid #00bfff;
}

main {
  padding: 50px 0;
}