body {
  background-color: #3a65cb;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}
.navbar {
  display: flex;
  justify-content:space-between;
  background-color: #1a2a84;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.nav-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;

}
.nav-right {
    gap: 10;
}
.nav-btn {
  background: none;
  border: none;
  color: #224bc8;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 19;
}

.nav-btn i {
  margin-right: 8px;
}

.nav-btn:hover {
  color: #914747;
}

.nav-btn.active {
  color: #00bfff;
  border-bottom: 2px solid #00bfff;
}
.card-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 20px;
 flex-wrap: wrap;
 padding-top: 30px;
 margin-top: 40px ;
}

.card{
  background: rgb(45, 88, 145);
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.5 ease, box-shadow 0.3 ease;
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.card:hover{
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main {
  padding: 50px 0;
}